step_function/state_machine.json
{
  "Comment": "SM for Exchange Rate Pipeline",
  "StartAt": "ExtractorState",
  "States": {
    "ExtractorState": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:270870090353:function:baran-exchange-rates-dev-extractor",
      "Next": "TransformerState",
      "ResultPath": "$.extractor_result",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 600,
          "BackoffRate": 1.0,
          "MaxAttempts": 5
        }
      ]
    },
    "TransformerState": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:270870090353:function:baran-exchange-rates-dev-transformer",
      "Next": "LoaderRedshiftState",
      "ResultPath": "$.transformer_result"
    },
    "LoaderRedshiftState": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:270870090353:function:baran-exchange-rates-dev-loader",
      "End": true
    }
  }
}